<div>
    <form (ngSubmit)="submit()">
        <h2>User Form</h2>

        <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage"></p-message>    
        <p-panel>
            <div>
                <label for="firstname">First Name</label>
                <input id="firstName" name="firstName" [(ngModel)]="contact.firstName" pInputText />
            </div>
            <div>
                <label for="lastname">Last Name</label>
                <input id="lastName" name="lastName" [(ngModel)]="contact.lastName" pInputText />
            </div>
            <div>
                <label for="phone">Phone</label>
                <input id="phone" name="phone" [(ngModel)]="contact.phone" pInputText />
            </div>
            <div>
                <label for="image">Image</label>
                <p-fileUpload mode="basic" [multiple]="false" (onSelect)="onUpload($event)" chooseLabel="Choose" name="image" accept="image/*"></p-fileUpload>
            </div>
            <div>
                <label for="bio">Bio</label>
                <textarea id="bio" name="bio" rows="5" cols="30" pInputTextarea [(ngModel)]="contact.bio"></textarea>
            </div>
            <div class="cta-container">
                <p-button type="submit" [label]="isEdit ? 'Update' : 'Save'"></p-button>
                <a routerLink="/"><p-button [outlined]="true" severity="danger" label="Cancel"></p-button></a>
            </div>
        </p-panel>

    </form>
</div>