.contact-box {
    position: relative;
    .image-name {
        text-align: center;
    }
    .image-container {
        padding: 10px 30px;
        text-align: center;
    }
    .image-container img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}