<div class="contact-header">
    <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage"></p-message>    
    <div class="contact-header-container">
        <div class="image-container">
            <img *ngIf="contact.image" [ngSrc]="contact.image" alt="placeholder-image" width="300" height="300" priority="">
            <img *ngIf="!contact.image" src="/assets/placeholder-image.png" alt="placeholder-image">
        </div>
        <div class="contact-information-container">
            <div class="contact-information">
                <h1>{{contact.firstName}} {{contact.lastName}}</h1>
                <p>{{contact.phone}}</p>
            </div>
            <div class="contact-cta">
                <a routerLink="edit"><p-button label="Edit"></p-button></a>
                <p-button severity="danger" label="Delete" (onClick)="deleteContact()"></p-button>
            </div>
        </div>
    </div>

    <p-divider></p-divider>

    <div class="bio">
        <h3>Bio</h3>
        <p>{{contact.bio}}</p>
    </div>
</div>