<div class="contact-header-container">
    <div class="image-container">
        <img src="/assets/placeholder-image.png" alt="placeholder-image">
    </div>
    <div class="contact-information-container">
        <div class="contact-information">
            <h1>John Doe</h1>
            <p>2222-3333</p>
        </div>
        <div class="contact-cta">
            <p-button label="Edit"></p-button>
            <p-button label="Delete"></p-button>
        </div>
    </div>

    <p-divider></p-divider>
</div>